<!DOCTYPE html>
<html>
  <%- include('../../partials/head') %>
  <body>
    <%- include('../../partials/header') %>
    <%- include('../../partials/nav') %>
    <main id="content">
        <div class="container">
            <form class="form-group" action="/editSale/<%= sale.id %>" method="post">
                <div class="form-group-6">    
                    <label for="products" class="form-label">Productos</label>
                    <textarea class="form-control" id="products" rows="6"  placeholder="Productos vendidos"
                    name="products" required><%= sale.products %></textarea>
                </div>
                <div class="form-group-6">
                    <label for="date" class="form-label">Fecha</label>
                    <input class="form-control" type="date" value="<%= sale.date %>"  name="date" id="date" required>
                </div>
                <div class="form-group-6">
                    <label for="amount" class="form-label">Monto</label>
                    <input class="form-control" type="text" value="<%= sale.amount %>" name="amount" id="amount" required>
                </div>
                <div class="form-group-6">   
                    <label for="payment" class="form-label">Tipo de pago</label>
                    <select class="form-control" type="text" name="payment" id="payment">
                        <option value="Efectivo">Efectivo</option>
                        <option value="MP">Mercado Pago</option>
                    </select>
                </div>
                <button type="submit" class="mt-1 btn btn-edit">Guardar cambios</button>
                <a class="mt-1 btn btn-delete" href="/adminSale">Cancelar</a>
            </form>
        </div>
    </main>
    <%- include('../../partials/footer') %>
  </body>
</html>