<!DOCTYPE html>
<html>
  <%- include('../../partials/head') %>
  <body>
    <%- include('../../partials/header') %>
    <%- include('../../partials/nav') %>
    <main id="content">
        <div class="container">
            <form class="form-group" action="/editSale/<%= sale.id %>" method="post">
                <div class="form-group-6">    
                    <label for="products" class="form-label">Productos</label>
                    <select class="form-control" name="products" id="products" required>
                        <option value=""><%= sale.products %></option>
                    <% productAndAmount.forEach(productName => { %>
                        <option value="<%= productName.name %>"><%= productName.name %></option>
                    <% }) %>
                    </select>   
                </div>
                <div class="form-group-6">
                    <label for="date" class="form-label">Fecha</label>
                    <input class="form-control" type="date" value="<%= sale.date %>"  name="date" id="date" required>
                </div>
                <div class="form-group-6">
                    <label for="amount" class="form-label">Monto</label>
                    <select class="form-control" name="amount" id="amount" required>
                        <option value=""><%= sale.amount %></option>
                        <% productAndAmount.forEach(product => { %>
                            <option value="<%= product.amount %>"><%= product.name %> - $ <%= product.amount %></option>
                        <% }) %>
                    </select> 
                </div>
                <div class="form-group-6">   
                    <label for="payment" class="form-label">Tipo de pago</label>
                    <select class="form-control" type="text" name="payment" id="payment">
                        <option value=""><%= sale.payment %></option>
                        <option value="Efectivo">Efectivo</option>
                        <option value="MP">Mercado Pago</option>
                    </select>
                </div>
                <button type="submit" class="mt-1 btn btn-edit">Guardar cambios</button>
                <a class="mt-1 btn btn-delete" href="/adminSale">Cancelar</a>
            </form>
        </div>
    </main>
    <%- include('../../partials/footer') %>
    <script src="/javascripts/effects.js"></script>
  </body>
</html>